{
  "env": {
    "test": {
      "presets": ["es2015", "react"]
    }
  },
  "plugins": [
    [
      "module-resolver", {
        "root": ["."],
        "alias": {
          "/imports": "../../../imports"
        }
      }
    ]
  ]
}
