{
  "plugins": ["transform-class-properties"],
  "env": {
    "test": {
      "presets": ["es2015", "react"],
      "plugins": [
        [
          "module-resolver", {
            "alias": {
              "/imports": "../../../imports"
            }
          }
        ],
        ["transform-class-properties"],
        ["transform-object-rest-spread"]
      ]
    }
  }
}
