doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    title=title ? title + ' - Medialist' : 'Medialist'
  body(style='background-color:#f4f6fa; text-align:center; padding:30px; font-size:14px')
    img(src='https://s3.eu-west-2.amazonaws.com/test.medialist/logo.png', style='margin:auto; margin-bottom: 30px', width="250" height="26")
    div(style='background-color:#FFF; text-align:left; padding:30px; width:400px; margin:auto; color:#334358; line-height:1.4')
      block content
    p(style='color: #99A3B2; font-weight:600; -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale; font-size:12px; margin-top:30px; margin-bottom:8px') Made in London by Medialist.io Limited
    p(style='color: #99A3B2; -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale; font-size:12px; margin-top:8px') Campaign management and collaboration for PR teams
