extends layout

block content
  p(style='color: #334358; margin-top:0') Please click the button to sign in to Medialist. This link will expire in fifteen minutes and can only be used once.
  a(href=url, style='background-color:#447af4; padding:12px 20px; display:block; margin:30px auto; color:#FFF; border-radius:3px; text-decoration:none; width:170px; text-align:center; font-size:16px') Sign in to Medialist
  p(style='color: #334358') Or sign in using this link:
  p
    a(href=url, style='color:#334358; text-decoration:none')=url
  p(style='color: #334358') If you did not make this request, please contact us at
    = ' '
    a(href='mailto:feedback@medialist.io', style='color:#709af7; text-decoration:none') feedback@medialist.io
  p(style='color: #334358') Cheers,
  p(style='color: #334358; margin-bottom:0') The team at Medialist
